<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book page</title>
</head>
<body>

<h1>Информация о книге</h1>

<!-- Проверка на наличие объекта Book -->
<div th:if="${book != null}">
    <p><strong>Book ID:</strong> <span th:text="${book.id}">ID</span></p>
    <p><strong>Название:</strong> <span th:text="${book.title}">Title</span></p>
    <p><strong>Автор:</strong> <span th:text="${book.author}">Author</span></p>
    <p><strong>Год публикации:</strong> <span th:text="${book.year}">Year</span></p>
</div>

<div th:if="${appUser != null}">
    <p><strong>Книга сейчас у:</strong> <span th:text="${appUser.lastName} + ' ' + ${appUser.firstName}  + ' ' + ${appUser.patronymic}"></span></p>

    <form th:method="PATCH" th:action="@{/books/detach}">
        <input type="hidden" name="bookId" th:value="${book.id}">
        <button type="submit">Отвязать</button>
    </form>

</div>

<div th:if="${appUser == null}">
    <p><strong>Книга сейчас ни за кем не закреплена:</strong></p>

    <form th:method="PATCH" th:action="@{/books/attach}">
        <label for="personSelector">Выберите кому выдать книгу</label>
        <select th:object="${emptyUserForSelector}" th:field="*{id} " id="personSelector">
            <option th:each="emptyUserForSelector : ${usersList}"
                    th:value="${emptyUserForSelector.getId()}"
                    th:text="${emptyUserForSelector.getLastName() + ' ' + emptyUserForSelector.getFirstName() + ' ' + emptyUserForSelector.getPatronymic()}">
            </option>
        </select>

        <input type="hidden" name="bookId" th:value="${book.id}">
        <input type="Submit" value="Прикрепить">
    </form>
</div>

<!-- Сообщение, если объект Book отсутствует -->
<div th:if="${book == null}">
    <p>No book details available.</p>
</div>

<hr/>

<a th:href="@{/books/{id}/edit(id=${book.id})}">
    <button>Редактировать</button>
</a>
</body>
</html>