<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New appUser</title>
</head>
<body>
<form th:method="POST" th:action="@{/people}" th:object="${appUser}">
    <label for="name">Введите имя:</label>
    <input type="text" th:field="*{firstName}" id="name">
    <br/>
    <label for="secondname">Введите фамилию:</label>
    <input type="text" th:field="*{lastName}" id="secondname">
    <br/>
    <label for="patronymic">Введите отчество:</label>
    <input type="text" th:field="*{patronymic}" id="patronymic">
    <br/>
    <label for="birthYear">Введите год рождения:</label>
    <input type="text" th:field="*{birthYear}" id="birthYear">
    <br/>
    <input type="submit" value="Создать">
</form>
</body>
</html>